.blog-article {
	.blog-article-meta {
		color: $text-muted;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 0;
		list-style: none;

		.blog-article-meta-item {
			display: inline-block;
			margin-right: 0.5rem;

			i {
				margin-right: 0.25rem;
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					font-weight: bold;
				}
			}

			&:last-child {
				margin-right: 0 !important;
			}
		}
	}
}

aside.blog-sidebar {
	padding: 1.5rem;

    background-color: $white;
	border: $border-width solid $border-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	.blog-sidebar-articles {
		display: flex;
		flex-direction: column;
		border-radius: 0;

		.blog-sidebar-article {
			display: flex;
			text-decoration: none;
			color: inherit;
			border-width: 0 0 1px;
			border-color: rgba($black, .125);
			border-style: solid;

			.blog-sidebar-article-title {
				color: $dark;
			}

			.blog-sidebar-article-media {
				flex-shrink: 0;
				max-width: 33.33%;

                .blog-sidebar-article-media-placeholder {
                    width: 140px;
                    text-align: center;
                    font-size: 3rem;
                    color: $text-muted;
                }
			}

			.blog-sidebar-article-content {
				flex-grow: 1;
				margin-left: 1rem;
			}

			&:hover {
				.blog-sidebar-article-title {
					font-weight: bold;
				}
			}

			&:last-child {
				border-bottom-width: 0;
			}


		}

	}

    .blog-sidebar-archives {
        .list-group {
            .list-group-item {
                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

