@use "sass:map";

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    //background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    //box-shadow: 0 5px 15px -5px #ecf0f1;
    //color: #3498db;
    text-align: center;
    overflow: hidden;
    position: relative;

    i {
        line-height: 50px;
        font-size: 20px;
        transition: 0.2s linear;
    }

    svg {
        width: 100%;
        padding: 10px;
    }

    &:hover,
    &.btn-social-active {
        transform: scale(1.3);
        color: #f1f1f1 !important;

        i,
        svg {
            color: #f1f1f1 !important;
        }

        i {
            transform: scale(1.3);
        }

        svg {
            transform: scale(1.2);
        }

        &::before {
            animation: popout 0.7s 1;
            top: -10%;
            left: -10%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
    }

    @each $icon, $color in $social-media-colors {
        &.btn-social-#{$icon} {
            &::before {
                background-color: $color;
                color: color-contrast($color);
            }

            i,
            svg {
                color: $color;
                //background-color: color-contrast($color);
            }
        }
    }

    @keyframes popout {
        0% {
            left: -110%;
            top: 90%;
        }

        50% {
            left: 10%;
            top: -30%;
        }

        100% {
            left: -10%;
            top: -10%;
        }
    }
}

footer .btn-icon {
    display: inline-block;
    font-size: 2.5rem;
    padding: 10px;
    line-height: 2.5rem;


    @each $icon, $color in $social-media-colors {
        &.btn-icon-#{$icon} {
            i {
                color: $color;
            }
        }
    }
}

// Rather than overflowing vertically, hides out of bounds text and replaces it with ellipsis (...)
.form-select-overflow-hidden {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Rather than placing caret beside text, places at far right side of button
.dropdown-toggle-caret-end {
    position: relative;
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Bootstrap automatically reverts danger color to black
.btn-danger {
    @include button-variant(map.get($theme-colors, danger), map.get($theme-colors, danger), $white);
}