// Input + Button + Icon
.ibc-container {
    position: relative;

    $ibc-color: rgb(222, 226, 230);

    --ibc-input-font-family: #{$input-font-family};
    --ibc-input-font-size: #{$input-font-size};
    --ibc-input-font-weight: #{$input-font-weight};
    --ibc-input-line-height: #{$input-line-height};
    --ibc-input-color: #{$ibc-color};
    --ibc-input-bg: #{$input-bg};

    --ibc-button-color: #{$ibc-color};
    --ibc-button-focus-color: #{tint-color($ibc-color, 15%)};
    --ibc-button-hover-color: #{tint-color($ibc-color, 25%)};

    input {
        font-family: var(--ibc-input-font-family);
        font-size: var(--ibc-input-font-size);
        font-weight: var(--ibc-input-font-weight);
        line-height: var(--ibc-input-line-height);
        color: var(--ibc-input-color);
        background-color: var(--ibc-input-bg);

        padding-right: 40px;

        &:invalid,
        &.is-invalid {
            //background: none !important;
        }
    }

    .ibc-button {
        display: inline-flex;
        position: absolute;
        right: 0px;
        top: 0px;
        align-items: center;

        width: 40px;
        height: 100%;
        line-height: 1em;

        padding: 0;
        margin: 0;

        color: var(--ibc-button-color);
        background: none;
        border: 0px;
        text-decoration: none;

        user-select: none;
        outline: none;

        cursor: pointer;

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }

        &:focus {
            color: var(--ibc-button-focus-color);
        }

        &:hover {
            color: var(--ibc-button-hover-color);
        }
    }

    &:focus,
    &:focus-within {
        .ibc-button {
            color: var(--ibc-button-focus-color);
        }
    }

    &:hover {
        .ibc-button {
            color: var(--ibc-button-hover-color);
        }
    }
}

// Star rating input
.rating {

    /*
        Use :not with impossible condition so inputs are only hidden
        if pseudo selectors are supported. Otherwise the user would see
        no inputs and no highlighted stars.
    */
    input[type="radio"]:not(:nth-of-type(0)) {
        /* hide visually */
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

        +label {
            display: none;
        }
    }

    label[for]:hover {
        cursor: pointer;
    }

    .stars label {
        color: lightgray;

        &:hover {
            text-shadow: 0 0 1px #000;
        }
    }

    [type="radio"]:nth-of-type(1):checked~.stars label:nth-of-type(-n+1),
    [type="radio"]:nth-of-type(2):checked~.stars label:nth-of-type(-n+2),
    [type="radio"]:nth-of-type(3):checked~.stars label:nth-of-type(-n+3),
    [type="radio"]:nth-of-type(4):checked~.stars label:nth-of-type(-n+4),
    [type="radio"]:nth-of-type(5):checked~.stars label:nth-of-type(-n+5) {
        color: $star;
    }

    [type="radio"]:nth-of-type(1):focus~.stars label:nth-of-type(1),
    [type="radio"]:nth-of-type(2):focus~.stars label:nth-of-type(2),
    [type="radio"]:nth-of-type(3):focus~.stars label:nth-of-type(3),
    [type="radio"]:nth-of-type(4):focus~.stars label:nth-of-type(4),
    [type="radio"]:nth-of-type(5):focus~.stars label:nth-of-type(5) {
        color: $star-dark;
    }
}

// Input that collapses and expands form when clicked
.collapsable-input {
    cursor: pointer;

    display: none;
    color: $input-placeholder-color;
    opacity: 1;

    &.collapsed {
        display: block !important;
    }
.showhide-password {
    &.showing-password {
        .showhide-password-show-icon {
            display: none;
        }

        .showhide-password-hide-icon {
            display: inline;
        }
    }

    .showhide-password-show-icon {
        display: inline;
    }

    .showhide-password-hide-icon {
        display: none;
    }
}