.page-blog-search {
    .btn-group {
        .btn {
            display: inline-flex;
            align-items: center;

            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }
}