footer {
	color: $white;

    .brand {
        a {
            color: $light;
            font-family: $font-family-cursive;
            text-decoration: none;

            &:hover, &:active {
                color: $white;
            }
        }

    }

	.nav {
		.nav-item {
			.nav-link {
				color: $light;

				&:hover {
					color: $dark-link-hover-color;
				}

				&:active {
					color: $dark-link-active-color;
				}
			}
		}
	}
}
