.cm-single-line-wrapper {
    .CodeMirror {
        /* Adjusts the editor height dynamically */
        height: auto;
        /* Hides overflow */
        overflow: hidden;
        /* Prevents line breaks */
        white-space: nowrap;

        line-height: 1.5;
        color: var(--bs-body-color);
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        padding: 0.375rem 0.75rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}