name: Format (PHP)

on:
  push:
    branches:
      - 'main'
  pull_request:
    paths:
      - '**.php'

permissions:
  contents: write

jobs:
  laravel-pint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Using multiple PHP versions will cause an error from trying to push multiple commits at the same time.
        php-versions: ['8.3']
    steps:
      - name: Setup PHP ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Install
        run: composer install --dev

      - name: Run Laravel Pint
        run: ./vendor/bin/pint --no-interaction

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Applied Laravel Pint changes
