name: TSLint Checks
on: [push]
jobs:
  job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Prepare
        run: corepack enable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Lint
        uses: mooyoul/tslint-actions@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pattern: '*.ts *.tsx'

      - name: Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Applied tslint-actions changes
          file_pattern: '*.ts *.tsx'
